<ul class="list-group">
    <li class="list-group-item">Cursos</li>
    <li class="list-group-item">Medicina
        <ul class="list-group">
            <li class="list-group-item">Estudantes do curso de medicina tem acesso ao consultório beneficente da faculdade. Este curso tem duração de sete anos e oferece especializações em cinco áreas distintas.</li>
        </ul>
    </li>
    <li class="list-group-item">Psicologia
        <ul class="list-group">
            <li class="list-group-item">Estudantes desse curso tem acesso à clínica beneficente da faculdade e simpósios todo semestre. Este curso tem duração de quatro anos e oferece licenciatura e bacharelado.</li>
        </ul>
    </li>
    <li class="list-group-item">Engenharia Elétrica
        <ul class="list-group">
            <li class="list-group-item">Estudantes desse curso terão aulas práticas e trabalhos oficiais em empresas da região. Este curso tem duração de cinco anos.</li>
        </ul>
    </li>
    <li class="list-group-item">Ciência da Computação
        <ul class="list-group">
            <li class="list-group-item">Estudantes desse curso possuem um laboratório com tecnologia de ponta e oficinas de software todo mês. Este curso tem duração de quatro anos.</li>
        </ul>
    </li>
    <li class="list-group-item">Ciências Contábeis
        <ul class="list-group">
            <li class="list-group-item">Estudantes desse curso poderão operar em empresas da região semestralmente. Este curso tem duração de quatro anos.</li>
        </ul>
    </li>
</ul>
